@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.woff");
    font-display: swap;
}

body{
    background-size: cover;
    width: 100%;
    margin: auto;
}

                                 /*             СЕКЦИЯ 1             */

.section_header {
    background-size: cover;
    width: 100%;
    height: 1010px;
    margin: auto;
    background-image: url("../img/section/section-1(header).jpg");
    left: 0;
    top:0;

}

.head__background {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);

}

.container__menu {
    width: 1160px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__link__img {
    position: relative;
    font-family: Montserrat, serif;
    /*font-style: normal;*/
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;


    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    padding-right: 21px;
    text-decoration: none;
}

.title__link {
    position: relative;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;

    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    padding-right: 21px;
    text-decoration: none;
}
.title__link:hover{
    color:  rgba(24, 207, 171, 1);
    box-shadow: -9px 60px 0 -11px   #18CFAB;



}


.subtitle {
    padding-right: 270px;
}

.nav__text__the {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    text-transform: none;

    color: #FFFFFF;

}
.span__text__wordpress{
    margin-left: 6px;
    color:  rgba(24, 207, 171, 1);

}

.nav__text__ham {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-transform: none;

    color: #18CFAB;
}

.img__title {
    position: relative;
    display: inline-block;
    background-image: url("../img/section-block/Polygon 1.svg");
    width: 58px;
    height: 67px;
    margin-right: 6px;

}

.img__title::before {
    color: white;
    position: absolute;
    content: "H";
    font-family: Montserrat, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0;
    text-align: left;
    bottom: 28%;
    right: 23%;

}

.img__search {
    background-image: url("../img/section-block/Search icon 1.svg");

    width: 21px;
    height: 20px;
}

.container__section__title {
    padding-top: 215px;
    width: 900px;
    height: 213px;
    margin: 0 auto;

}

.title__text_1 {

    padding-top: 13px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;


    display: flex;
    justify-content: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.title__text_2 {
    padding-top: 22px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;

    display: flex;
    justify-content: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.title__text_3 {
    padding-top: 22px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;

    display: flex;
    justify-content: center;

    color: #D4D4D4;
}
.container__button{
    padding-top: 122px;
    display: flex;
    justify-content: center;


}
.button__explore{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 60px;
    background: rgba(24, 207, 171, 1);
    border-radius: 5px;
    box-shadow: 0 -4px 0 white

}

.button__push{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 60px;
    background: rgba(0, 203, 246, 1);
    border-radius: 5px;
    box-shadow: 0 -4px 0 white



}
.link__button{
    display: flex;
    justify-content: center;
    padding-left: 26px ;
    text-decoration: none;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;



    text-transform: uppercase;

    color: #FFFFFF;
}

                              /*             СЕКЦИЯ 2             */


.section_block_container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.section_block_gray{
    width: 482px;
    height: 360px;
    background-color:#1C2A33 ;
}
.section_block_green{
    width: 482px;
    height: 360px;
    background-color:#18CFAB ;
}
.block_image_white{
    padding-top: 98px;
    display: flex;
    align-items: center;
    margin: auto;
}
.block_image_green{
    padding-top: 95px;

    display: flex;
    align-items: center;
    margin: auto;
}
.block_title_green{
    margin-top: 48px;

    text-align: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #18CFAB;
}
.block_title_gray{
    margin-top: 59px;

    text-align: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: white;
}

                             /*             СЕКЦИЯ 3             */

.heading{


    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;

    display: flex;
    justify-content: center;
}
.heading::after{
    width: 91px ;

    content: "";
    position: absolute;
    border-bottom: 1px solid #18CFAB;
    padding-bottom: 68px;
    margin-left: 10px;

}
.heading::before{
    width: 91px ;

    content: "";
    position: absolute;
    border-bottom: 1px solid #18CFAB;
    padding-bottom: 63px;
    margin-right: 10px;
}


.tabs__nav{
    width: 1160px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs-nav__item{
    width: 194px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    cursor: pointer;
}
.tabs-nav__item:hover{
    border-color: #18CFAB;
}
.tabs-nav__item.is-active {
    background: #18CFAB;
    color:  white;
}
.tab{
    display: none;
}
.tab.is-active{
    display: flex;
    margin: auto;
    width: 1160px;
    height: 238px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    color: #777777
}
.tab_image{
    margin-right: 20px;
    width: 194px;
    height: 139px;
}

.item_text{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717171;
}

                                /*             СЕКЦИЯ 4             */


.container__section__preview{
    background: url("/img/section/section-2.jpg") ;
    width: 1920px;
    height: 476px;
    margin: auto;
}
.preview__title{
    padding-top: 126px;
    display: flex;
    justify-content: center;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;

    text-transform: uppercase;

    color: #18CFAB;
}
.preview__text{
    padding-top: 12px;
    padding-bottom: 62px;
    display: flex;
    justify-content: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;

    color: #D8D8D8;
}
.button__preview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 60px;
    background:rgba(24, 207, 171, 1);
    border-radius: 5px;
    box-shadow: 0 -4px 0 white
}

                          /*             СЕКЦИЯ 4             */


.tab-work{
    display: none;
}
.tab-work.is-active{
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    /*grid-template-rows: repeat(3, 1fr);*/
    margin: auto;
}
.container{
    display: none;
}
.tab_image_work{
    position: relative;
}

.hover{
    position: relative;
}
.container__hover{
    transition: opacity .3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: white;

}
.line__green{
    width: 100%;
    height: 2px;
    background: #18CFAB;
}
.container__utilities{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.hover__chain__outline{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #18CFAB ;
    display: flex;
    text-align: center;
}

.chain__img{
    display: flex;
    margin: auto;

}
.withe__square{
    left: 161px;
    height: 12px;
    width: 12px;
    background: white;
    padding-top: -20%;
    margin-top: -30px;
    position: absolute;

}
.hover__circle{
    padding-left: 5px;
    width: 40px;
    height: 40px;
    padding-bottom: 32px;


}

.hover:hover .container__hover{
    opacity: 1;

}
.container.show{
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
}



.tabs-nav_item{
    min-width:79px ;
    height: 58px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    cursor: pointer;
}
.item__text{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #717171;
}
.tabs-nav_item:hover{
    border-color: #18CFAB;
}

.tab_image_work{
    width: 285px;
    height: 211px;
}
.tab_image_work:hover{
    mask-image: url("../img/icons/gray.png") ;
    width: 285px;
    height: 211px;
}

#show_content{
 display: none;
}
#show_content{
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
}

#show_btn{
    cursor: pointer;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 168px;
    height: 63px;
    background: #18CFAB;
    border-radius: 10px;
    text-decoration: none;

}

.btn_text{
    padding-left: 15px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.tab-work-images{
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
}
.container__grid{
    padding-top: 68px;
    width: 1157px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 44px 33px;

    margin: 0 auto;

}
.grid__text__title{
    margin-left: 10px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;

    color: #777777;

}
.grid__text{
    margin-left: 10px;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;


    color: #777777;

}
.grid__block__month{
    width: 65px;
    height: 66px;
    background: rgba(32, 62, 56, 1);
    position: absolute;
    margin-left: 198px
}
.text__month__day{
    padding-top: 8px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}
.text__month{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}
.grid__columns:hover .grid__block__month {
    background-color: #18CFAB;
}
.grid__columns:hover .grid__text__title{
    color: #18CFAB;
}





.container__section__people{
    background-image: url("/img/section/section-3.jpg");
    width: 1920px;
    height: 854px;
    margin: auto;
}
.padding{
    padding-top: 100px;
    color: #FFFFFF;
    padding-bottom: 66px;
}
.section__people__icon{
    height: 33px;
    width: 44px;
    margin: auto;
    background: url("/img/icons/icon.svg");
    /*margin-bottom: 25px;*/

}
.people__row__text1{
    padding-top: 37px;
    margin: auto;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;

    color: #BBBBBB;
    text-align: center;
}
.people__row__text2{
    margin: auto;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;

    color: #BBBBBB;
    text-align: center;
    padding-bottom: 37px;
}
.subtitle__section{
    display: block;
    justify-content: center;
    margin: auto;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;

    text-align: center;
    text-transform: uppercase;

    color: #18CFAB;
}
.text__designer__section{
    display: block;
    margin: auto;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    align-items: center;
    text-align: center;

    color: #BBBBBB;
}

.active__img{
    padding-top: 38px;
    height: 143px;
    width: 143px;
    margin: auto;
}
.container__img{
    padding-top: 51px;
    width: 483px;
    height: 70px;
    display: flex;
    margin: auto;
    justify-content: space-between;


    align-items: center;
}
.symbol__left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border: 1px solid white;
}
.symbol__right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border: 1px solid white;

}
.symbol__left:hover{
    background-color: #18CFAB;
}
.symbol__right:hover{
    background-color: #18CFAB;
}
.tab_circle{
    display: none;
}
.tab_circle.is-active{
    display: block;
}
.tabs-nav__circle.is-active{
    padding-bottom: 30px;
}
.photo{
    width: 143px;
    height: 143px;
    border-radius: 100px  ;
    border: 9px solid rgba(31, 218, 181, 0.1);
}
.small_photo{
    border-radius: 100px  ;
    border: 3px solid rgba(31, 218, 181, 0.1);
}



.footer__section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1920px;
    height: 118px;
    background: rgba(34, 53, 63, 1);
}
.text__footer{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;

    color: #AEAEAE;
}
.text__footer__span{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;

    color: #18CFAB;
}










